{% extends 'base.html' %}
<div class="container-fluid">
    {% block content %}
    <div class="menu">
        <div class="col-md-10">
            <div class="contacts">
                <header>
                    <div class="text-center">
                        <h1>Contacts . . .</h1>
                    </div>
                </header>

                <main>
                    <div class="card">
                        <h3 class="text-center">Let's collaborate on my next project</h3>
                        <img src="{{ profile.handshake.url }}" class="img-responsive" alt="">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <p>
                                    <a href="{{profile.github}}" target="_blank">Github</a>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <a href="{{profile.twitter}}" target="_blank">Twitter</a>
                                </p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <p>
                                    <a href="{{profile.linkedin}}" target="_blank">LinkedIn</a>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <a href="#">{{profile.email}}</a>
                                </p>
                            </div>
                        </div>
                </main>

                </div>
            </div>
        </div>
        <!-- end content block -->
        {% endblock %}
    </div>